.flooter{
	background-color: pink;
	padding-top: 5px;
}
.biodata{
	background-color: black;
}
.materi{
	background-color: black;
}
.pencarian{
	background-color: black;
	
}
.header{
	background-color: black;
}
.materi{
	background-color: black;
}